.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(#312e2e, .8);
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .modal {
    width: 50%;

    background-color: gray;
    color: cyan;
    border-radius: 6px;
    overflow: hidden;

    &__header {
      background-color: darkgray;
      padding: 25px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 1.6rem;
      }
      .close-btn {
        font-size: 1.6rem;

        cursor: pointer;
        color: cyan;
      }
    }

    &__content {
      padding: 30px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: gray;
      p {
        width: 60%;
        line-height: 1.8;
        text-align: center;
      }
    }
    &__actions {
      background-color: gray;
      padding: 20px 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      button {
        background-color: black;
        width: 100px;
        height: 40px;
        color: gold;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        transition: all 300ms;
        &:hover {
          opacity: 80%;
        }
      }
    }
  }
}
