.not__available{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    color: gray;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: bold;


}

.not__available__container{
    height: 50.6vh;
}